name: CI
on:
  push:
    branches: ["**"]
  pull_request:
jobs:
  build-test:
    runs-on: ubuntu-latest
    env:
      OWNER: ${{ github.repository_owner }}
      NAME: ${{ github.event.repository.name }}
      REPOSITORY: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: "3.11" }
      - uses: actions/setup-node@v4
        with: { node-version: "20" }
      - name: Install
        run: make install
      - name: Lint & Test
        run: |
          make lint
          make test
